{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "auto",

  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^axios(.*)",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/api/(.*)$",
    "^@/utils/(.*)$",
    "^@/router/(.*)$",
    "^@/type/(.*)$",
    "^@/constants/(.*)$",
    "^@/assets/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
